node_modules/
dist/
.DS_Store
*.swp
.vscode
.idea
.tmp
.env
.eslintcache
# playwright
**/playwright**/test-results**/
**/playwright**/playwright-report**/
**/playwright**/playwright/.cache/
**/playwright**/**StorageState.json

# cypress
**/cypress/screenshots/
**/cypress/videos/
**/cypress/downloads/
**/runner-results/
